[Unit]
Description=OPiKVM HotSpot Service
After=network-online.target
Requires=network-online.target

Conflicts=kvmd-otgnet.service

[Service]
ExecStartPre=/bin/systemctl stop dnsmasq.service
ExecStartPre=/bin/systemctl stop kvmd-otgnet.service

ExecStart=/usr/local/bin/opikvm-hotspot.sh
ExecStopPost=/bin/systemctl start dnsmasq.service

Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target