[Unit]
Description=WiFi Provisioning Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/wifi-provision.py

User=root

[Install]
WantedBy=multi-user.target